@import url("https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100..900;1,100..900&display=swap");

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Montserrat", sans-serif;
}

html {
  font-size: 24px;
  font-weight: 600;
}
:root {
  --dark-black: rgb(3, 2, 3);
  --black: rgb(2, 3, 3);
  --light-gold: rgb(241, 183, 81);
  --light-orange: rgb(212, 141, 38);
  --white: rgb(255, 255, 255);
}

/* basic stylinkg */
.active {
  color: var(--light-gold);
}

a {
  text-decoration: none;
  color: var(--white);
}

li {
  list-style: none;
  margin: 0;
  padding: 0;
}

body {
  display: flex;
  align-items: center;
  justify-content: center;
  height: 100vh;
}
.container {
  width: 90%;
  max-width: 1400px;
  height: 750px;
  background: var(--dark-black);
}

.logo img {
  width: 80px;
  height: 50px;
  display: block;
}

.navbar-container {
  display: flex;
  align-items: center;
  justify-content: space-between;
  border-bottom: 1px solid var(--light-gold);

  /* background-color: aqua; */
}

.navlist {
  display: flex;
  width: 100%;
  gap: 5rem;
  font-size: 0.6rem;
  margin-top: 0.5rem;
  align-items: center;
  justify-content: flex-start;
}
